@import '../global.css';

.chevron-open-container {
    justify-content: center;
    display: flex;
    border-color: var(--dark-green);
}

.chevron-open-content {
    bottom: 0;
    text-align: center;
    background-color: var(--dark-green);
    color: var(--light-grey);
    padding: 0px 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
}